name: Release
'on':
  workflow_dispatch: {}
  workflow_run:
    workflows:
    - Build
    types:
    - completed
permissions:
  contents: write
  actions: read
run-name: Release
defaults:
  run:
    shell: bash
env:
  PYTHONDONTWRITEBYTECODE: 1
  UV_NO_SYNC: 1
jobs:
  release:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Opt Out Of Workflow
      id: opt_out_of_workflow
      run: echo 'Opting out of Release workflow.'
